* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #333333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .todoApp {
    width: 38rem;

    .bgColor {
      background-color: #333;
      border-radius: 2rem;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
    .top {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      h1 {
        font-size: 3rem;
        color: #fff;
      }
      #searchBox {
        background-color: #242424;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        font-size: 1.8rem;
        border: none;
        outline: none;
        color: #fff;
      }
    }

    .content {
      border-radius: 2rem;
      width: 100%;
      background-color: #fff;
      padding: 1rem;

      #inputField {
        background-color: #f6f6f6;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        font-size: 1.8rem;
        border: none;
        outline: none;
        color: #000;

        &:focus {
          border: none !important;
          outline: none !important;
        }
      }
      .card {
        border: none;
        margin: 1rem 0;
        border-left: 0.3rem solid #333;
        border-radius: 1rem;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);

        &:hover {
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        }

        #deleteBtn {
          border: none;
          padding: 0.3rem 0.8rem;
          border-radius: 50%;
          font-size: 1.5rem;
          color: rgba(255, 0, 0, 0.548);

          &:hover {
            color: red;
          }
        }
        #editBtn {
          border: none;
          padding: 0.3rem 0.8rem;
          border-radius: 50%;
          font-size: 1.5rem;
          color: rgba(30, 143, 255, 0.589);

          &:hover {
            color: dodgerblue;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 35%;
  }
}
